////////////////////* css Reset *////////////////////

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

////////////////////* color mode *////////////////////

// White Mode
$backgroundColor: #fff;
$fontColor: #2b546a;
$shadowColor: rgba(0, 0, 0, 0.589);

// Dark Mode
// $backgroundColor: #2b546a;
// $fontColor: #fff;
// $shadowColor: rgba(255, 255, 255, 0.589);

////////////////////* body *////////////////////

body {
  background-color: rgb(240, 240, 240);
  font-family: 'Arial', 'メイリオ', sans-serif;
}

////////////////////* Header *////////////////////

.header {
  width: 100%;
  height: 48px;
  background-color: $backgroundColor;
  box-shadow: 0 1px 3px $shadowColor;
  margin-bottom: 30px;

  .header-logo {
    float: left;
    transition-duration: 0.3s;
    background-color: $fontColor;
    color: $backgroundColor;
    height: 48px;
    width: 48px;
    text-align: center;
    vertical-align: middle;

    span {
      font-size: 30px;
      font-weight: bolder;
    }

    &:hover {
      opacity: 0.9;
      transition-duration: 0.3s;
    }
  }

  .header-list {
    display: flex;

    a {
      font-size: 18px;
      color: $fontColor;
      text-decoration: none;
      padding: 14px 14px;
    }
  }
}

////////////////////* Article *////////////////////

.article {
  background-color: white;
  margin: auto;
  width: 70%;
  box-shadow: 0 0 2px $shadowColor;
  overflow: hidden;
  .title {
    font-size: 40px;
    text-align: center;
    margin: 30px;
  }
  .dialogue {
    width: 85%;
    border: 30px solid rgb(0, 0, 0);
    border-radius: 30px;
    margin: auto;
    background-color: black;
    .buttons {
      text-align: right;
      margin-right: 50px;
      background-color: black;
      button {
        background-color: white;
        padding: 5px 12px;
        border: 1px solid black;
        cursor: pointer;
        border-radius: 3px;
        box-shadow: 0 2px black;
        margin: 3px;
        &:active {
          position: relative;
          top: 2px;
          box-shadow: none;
        }
      }
    }
    .chat {
      padding: 20px;
      border-radius: 30px;
      background-color: #92b8ff;
      height: 1000px;
      overflow: auto;
    }
  }
}

////////////////////* Line *////////////////////

.line-first {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 10px;
  img {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
  }
}

.line-second {
  display: flex;
  margin-bottom: 10px;
  img {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
  }
}

////////////////////* Speech Bubble *////////////////////

.speech-bubble-first {
  position: relative;
  margin: 10px 30px;
  padding: 12px 30px;
  background: #61ff96;
  border-radius: 15px;
  text-align: center;
  &:before {
    content: '';
    position: absolute;
    top: 42px;
    left: 100%;
    margin-top: -15px;
    border: 15px solid transparent;
    border-left: 15px solid #61ff96;
  }
  button {
    background-color: transparent;
    padding: 5px 12px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 2px black;
    &:active {
      position: relative;
      top: 2px;
      box-shadow: none;
    }
  }
}

.speech-bubble-second {
  position: relative;
  margin: 10px 30px;
  padding: 12px 30px;
  background: #ffffff;
  border-radius: 15px;
  text-align: center;
  &:before {
    content: '';
    position: absolute;
    top: 42px;
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #ffffff;
  }
  button {
    background-color: transparent;
    padding: 5px 12px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 2px black;
    &:active {
      position: relative;
      top: 2px;
      box-shadow: none;
    }
  }
}

.bubble-content {
  .jpn-line {
    text-align: center;
    ruby {
      rt {
        font-size: 10px;
        text-align: center;
      }
    }
  }

  .eng-line {
    text-align: center;
    margin: 3px 0;
  }
}

.detail {
  margin-top: 8px;
  .literal {
    text-align: center;
    .literal-text {
      margin-bottom: 8px;
    }
  }
  .desc {
    text-align: left;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
    .desc-text {
      font-size: 15px;
    }
  }
}
