////////////////////* css Reset *////////////////////

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

////////////////////* color mode *////////////////////

// White Mode
$backgroundColor: #fff;
$fontColor: #2b546a;
$shadowColor: rgba(0, 0, 0, 0.589);

// Dark Mode
// $backgroundColor: #2b546a;
// $fontColor: #fff;
// $shadowColor: rgba(255, 255, 255, 0.589);

////////////////////* body *////////////////////

body {
  background-color: rgb(252, 255, 236);
  font-family: 'Arial', 'メイリオ';
}

////////////////////* Header *////////////////////

.header {
  height: 48px;
  background-color: $backgroundColor;
  box-shadow: 0 1px 3px $shadowColor;

  .header-logo {
    float: left;
    background-color: $fontColor;
    transition-duration: 0.3s;

    span {
      vertical-align: middle;
      color: $backgroundColor;
      font-size: 30px;
      padding: 9px 10px;
    }

    &:hover {
      opacity: 0.9;
      transition-duration: 0.3s;
    }
  }

  .header-list {
    li {
      list-style: none;
      float: left;
      padding: 12px 10px;
    }

    a {
      color: $fontColor;
      text-decoration: none;
    }
  }
}

////////////////////* Dialogue *////////////////////

.dialogue {
  padding: 20px;
  background-color: #92b8ff;
  width: 60%;
  margin: auto;
}

////////////////////* Line *////////////////////

.line-first {
  display: flex;
  flex-direction: row-reverse;
  img {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
  }
}

.line-second {
  display: flex;
  img {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
  }
}

////////////////////* Speech Bubble *////////////////////

.speech-bubble-first {
  position: relative;
  display: inline-block;
  margin: 10px 30px;
  padding: 12px 30px;
  background: #a5ffc3;
  border-radius: 15px;

  ::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -15px;
    border: 15px solid transparent;
    border-left: 15px solid #a5ffc3;
  }
}

.speech-bubble-second {
  position: relative;
  display: inline-block;
  margin: 10px 30px;
  padding: 12px 30px;
  background: #e0edff;
  border-radius: 15px;

  ::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #e0edff;
  }
}

.bubble-content {
  margin: 5px;

  .jpn-line {
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 3px 3px;
    ruby {
      rt {
        font-size: 10px;
        text-align: center;
      }
    }
  }

  .eng-line {
    font-size: 16px;
    color: rgb(73, 73, 73);
    margin: 3px;
    text-align: center;
  }
}